.ePXXlq{
    font-size: 12px !important;
font-weight: 700 !important;
    color: rgb(110, 107, 123) !important;
}

// custom css

.buttonSetup{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }